<template>
  <section
    :class="['cart-container', this.$store.state.cartOpen ? 'open' : '']"
  >
    <div class="overlay"></div>
    <div class="cart">
      <header>
        <div class="top">
          <button @click="closeCart">&lt;</button>
          <span class="title">Your cart</span>
        </div>
        <select @change="updateCurrency" v-model="currency">
          <option v-for="currency in currencies" :key="currency">{{
            currency
          }}</option>
        </select>
      </header>
      <main>
        <div v-if="this.$store.getters.productsInCart.length > 0" class="products">
          <product-item
            v-for="product in this.$store.getters.productsInCart"
            :key="product.id"
            v-bind="product"
          />
        </div>
        <div v-else>
          <p>Your cart is empty</p>
          <button @click="closeCart">Shop</button>
        </div>
      </main>
      <footer>
        <div>
          Subtotal: {{formatCurrency(this.$store.getters.cartTotal)}}

        </div>
      </footer>
    </div>
  </section>
</template>

<script>
import gql from "graphql-tag";
import ProductItem from "./CartProductItem";
import FormatCurrency from "../mixins/formatCurrency";

export default {
  components: {
    ProductItem,
  },
  mixins: [FormatCurrency]
  ,
  data() {
    return {
      currency: "USD",
      currencies: [],
    };
  },

  apollo: {
    currencies: {
      query: gql`
        query {
          currency
        }
      `,
      update: (data) => data.currency,
    },
  },
  methods: {
    updateCurrency(e) {
      e.preventDefault();
      this.$store.commit("changeCurrency", this.currency);
    },
    closeCart() {
      this.$store.commit("closeCart");
    },
  },
};
</script>

<style scoped>
section.cart-container {
  width: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.cart-container.open {
  width: 100%;
}

.products {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 160px;
  grid-gap: 2rem;
  padding: 20px 0px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
}
.cart {
  padding: 20px ;
  width: 0;
  z-index: 2;
  position: fixed;
  right: 0;
  bottom:0;
  background-color: #f2f2ef;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  visibility: hidden;
  transition: width 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart header {
  color: black;
  display: flex;
  flex-direction: column;
}

.cart header select {
  margin-top: 40px ;
  width: 64px;
}

.cart header .top {
  display: flex;
  align-items: center;

}

.cart header .top button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #acaca9;
  background-color: #f2f2ef;
}

.cart header .top span {
  width: 90%;
  text-align: center;
  
}

.cart-container.open .cart {
  width: 40%;
  visibility: visible;
  transition: width 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart-container.open .overlay {
  display: block;
}

@media screen and (max-width: 768px) {
  .cart-container.open .cart {
    width: 100%;
    transition: width 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.cart header {
}
</style>
