<template>
  <div class="product-item">
    <div class="left">
      <p class="product-title">{{ title }}</p>
      <div class="counter">
        <span @click="removeOne()">-</span>
        <span> {{numberInCart}} </span>
        <span @click="addOne()">+</span>
      </div>
    </div>
    <div class="product-price">
      {{ formatCurrency(price * numberInCart) }}
    </div>
    <div class="right">
      <span class="delete" @click="deleteProduct">x</span>
      <img :src="image_url" class="product-image" />
    </div>
  </div>
</template>

<script>
import FormatCurrency from "../mixins/formatCurrency";

export default {
  props: ["price", "numberInCart", "id", "image_url", "title"],
  mixins: [FormatCurrency],
  methods: {
    deleteProduct() {
      this.$store.commit("removeProduct", this.id);
    },
    addOne() {
      this.$store.commit("addToCart", { id: this.id });
    },
    removeOne() {
      this.$store.commit("decrementProduct", this.id);
    },
  },
};
</script>

<style scoped>
.product-item {
  display: flex;
  align-items: center;
  justify-items: stretch;
  justify-content: space-between;
  background-color: white;
  padding: 16px;
}

.product-item .left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  align-items: flex-start;
}

.product-item .right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  align-items: flex-end;
}

.product-title {
  font-size: 10px;
  align-self: flex-start;
  font-weight: bold;
  text-align: center;
}

.product-price {
  align-self: flex-end;
  font-size: 12px;
}

.counter {
  font-size: 14px;
  border: 1px solid black;
  padding: 8px;
}

.counter span {
  width: 18px;
  cursor:pointer;
  margin: 0 4px;
}

img.product-image {
  max-width: 100%;
  max-height: 100%;
}

span.delete {
  cursor: pointer;
}
</style>
