<template>

  <div :class="['container', this.$store.state.cartOpen ? 'cart-open' : '']">
    <!-- Cute tiny form -->
    <div class="form">Products</div>

    <div :class="['products']">
      <div v-for="product in products" :key="product.id" class="product-item">
        <img :src="product.image_url" class="product-image" />
        <p>{{ product.title }}</p>
        <p>From {{ formatCurrency(product.price) }}</p>
        <button @click="() => addToCart(product)" class="product-button">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";
import FormatCurrency from "../mixins/formatCurrency";

export default {
  data() {
    return {};
  },

  mixins: [FormatCurrency],

  apollo: {
    products: {
      query: gql`
        query products($currency: Currency!) {
          products {
            id
            title
            image_url
            price(currency: $currency)
          }
        }
      `,
      variables() {
        return { currency: this.$store.state.currency };
      },
      result({data}) {
        this.$store.commit('updateProducts', data.products)
      }
    },
  },

  methods: {
    addToCart(product) {
      this.$store.commit("addToCart", product);
      this.$store.commit("openCart");
    },
  },
};
</script>

<style scoped>
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 300px;
  grid-gap: 1rem;
}

.container {
  padding-top: 60px;
}

.container.cart-open {
  
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
}

@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.product-item p {
  margin: 4px 0;
}

.product-image {
  max-width: 50%;
  max-height: 50%;
  margin-bottom: 8px;
}

.product-button {
  background-color: black;
  padding: 12px 24px;
  color: white;
  cursor: pointer;
  border: 0;
}
</style>
