<template>
  <div></div>
</template>

<script>
export default {
  methods: {
    formatCurrency(amount) {
      const currency = this.$store.state.currency;
      const options = { style: "currency", currency };
      return new Intl.NumberFormat("en-US", options).format(amount);
    },
  },
};
</script>

<style></style>
